<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <form action="http://127.0.0.1:5000/formlogin" mrthod="get">
          <table>
            <tr>
                <td>Name</td>
                <td><input  type="text" name="uname" placeholder="uname" ></td>
            </tr>
            <tr>
                <td>password</td>
                <td><input type="password" name="pass" placeholder=" User password"></td>

            </tr>
            <tr>
                <td><input type="submit"> </td>
            </tr>
          </table>
    </form>
</body>
</html> -->